<section class="jumbotron">
  <div class="video">
    <% if (theme.ocean.overlay) { %>
      <div class="video-frame">
        <img src="<%- theme.ocean.path %>overlay-hero.png" alt="Decorative image frame">
      </div>
    <% } %>
  <canvas id="canvas"></canvas>

    <div class="video-inner text-center text-white">
      <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
      <p><%= config.subtitle %></p>
      <div><img src="<%- theme.ocean.brand %>" class="brand" alt="<%= config.title %>"></div>
    </div>
    <div class="video-learn-more">
      <a class="anchor" href="#landingpage"><i class="fe fe-mouse"></i></a>
    </div>
  </div>
</section>
